.calculator { 
    width: 200px;
    border: solid 2px;
    border-radius: 5px;
}
.result {
    height: 50px;
    background-color: antiquewhite;
    line-height: 50px;
    font-size: 25px;
    text-align: right;
}
.buttons {
    display: flex;
}
button{
    flex: 1;
    height: 40px;
}